.banner {
    height: 5vh;
    background: var(--cor-secundaria);
    margin: 2vh 24%;
    width: 55%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__titulo {
    font-family: var(--fonte-titulos);
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
}