.cabecalho {
    height: 7vh;
    background: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
}

.cabecalho__menu-escudo{
    display: flex;
    align-items: center;
    gap: 4px;
}

.cabecalho__menu-aberto {
    display: none;
    flex-direction: column;
    background-color: var(--cor-primaria);
    position: absolute;
    top: 6.9vh;
    left: 0;
    width: 30%;
  }

 .cabecalho__menu-aberto__lista {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 3vh;
    padding: 2vh 2vh;
 }

 .cabecalho__menu-aberto__lista__item {
    font-family: var(--fonte-titulos);
    font-size: 20px;
    
 }

 .cabecalho__menu-aberto__lista__link {
    text-decoration: none;
    color: var(--preto);
 }

.active {
    display: flex;
}

.cabecalho__menu-escudo__menu {
    width: 60px;
}

.cabecalho__menu-escudo__escudo {
    width: 45px;
}

.cabecalho__logo-app {
    margin-left: -10%;
}

.cabecalho__icone-instagram {
    width: 52px;
    margin-right: 1.5%;
}