.rodape {
    background: var(--cor-secundaria);
    margin-top: 2vh;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape__texto {
    font-family: var(--fonte-titulos);
    font-weight: 500;
}

.rodape__logo {
    width: 130px;
}